<%= form_with(model: priority, local: true) do |form| %>
  <% if priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(priority.errors.count, "error") %> prohibited this priority from being saved:</h2>

      <ul>
      <% priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :feature_id %>
    <%= form.number_field :feature_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :new_sales %>
    <%= form.number_field :new_sales %>
  </div>

  <div class="field">
    <%= form.label :existing_customers %>
    <%= form.number_field :existing_customers %>
  </div>

  <div class="field">
    <%= form.label :strategic %>
    <%= form.number_field :strategic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
