<%= form_with(model: priority, local: true) do |form| %>
  <% if priority.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(priority.errors.count, "error") %> prohibited this feedback from being saved:</h4>

      <ul>
      <% priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :feature_id %>

  <div class="field">
    <%= form.label :your_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :new_customer_score %>
    <%= form.number_field :new_sales %>
  </div>

  <div class="field">
    <%= form.label :existing_customers_score %>
    <%= form.number_field :existing_customers %>
  </div>

  <div class="field">
    <%= form.label :strategic_score %>
    <%= form.number_field :strategic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
