<p id="notice"><%= notice %></p>

<p>
  <strong>Feature:</strong>
  <%= @priority.feature_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @priority.name %>
</p>

<p>
  <strong>New sales:</strong>
  <%= @priority.new_sales %>
</p>

<p>
  <strong>Existing customers:</strong>
  <%= @priority.existing_customers %>
</p>

<p>
  <strong>Strategic:</strong>
  <%= @priority.strategic %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
