<%= form_with(model: priority, local: true) do |form| %>
  <% if priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(priority.errors.count, "error") %> prohibited this priority from being saved:</h2>

      <ul>
      <% priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.hidden_field :feature_id %>

  <div class="field">
    <%= form.label :your_name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :enhancing_existing_functionality %>
    <%= form.number_field :new_sales, required: true, type: 'number', min: 1, max: 10 %>
  </div>

  <div class="field">
    <%= form.label :providing_new_functionality %>
    <%= form.number_field :existing_customers, required: true, type: 'number', min: 1, max: 10 %>
  </div>

  <div class="field">
    <%= form.label :impacting_a_wide_customer_base %>
    <%= form.number_field :strategic, required: true, type: 'number', min: 1, max: 10 %>
  </div>

  <div class="actions">
    <%= form.submit("Cast Your Vote", class: "btn waves-effect waves-light") %>
  </div>
<% end %>