<p id="notice"><%= notice %></p>

<div class="row">
    <h4>
      <strong>Title:</strong>
      <%= @feature.title %>
    </h4>
</div>

<div class="row">
    <h5>
      <strong>Description:</strong>
    </h5>
    <p>
      <%= @feature.description %>
    </p>
</div>

<div class="row">
    <h5>
      <strong>Benefit:</strong>
    </h5>
    <p>
      <%= @feature.benefit %>
    </p>
</div> 

<hr width="100%">

<% if !user_signed_in? %>
    <div class="row">
        <div class="section, col 6">
            <h4>Provide Your Feedback</h4>
            <p>All scores must be out of 10</p>
            <%= render 'priority_form', priority: @priority %>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>

  <div class="row">
    <h4>
      <strong>Feedback</strong>
    </h4>
  </div>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>New Customer Score</th>
        <th>Existing Customer Score</th>
        <th>Strategic Score</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @feature.priorities.each do |priority| %>
        <tr>
          <td><%= priority.name %></td>
          <td><%= priority.new_sales%></td>
          <td><%= priority.existing_customers%></td>
          <td><%= priority.strategic%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= link_to 'Edit', edit_feature_path(@feature), class: "btn waves-effect waves-light margin-bottom" %>
<% end%>
<%= link_to('Back to Features', features_path, class: "btn waves-effect waves-light margin-bottom") %>
