<p id="notice"><%= notice %></p>

<div class="row">
    <h4>
      <strong>Title:</strong>
      <%= @feature.title %>
    </h4>
</div>

<div class="row">
    <p>
      <strong>Description:</strong>
      <%= @feature.description %>
    </p>
</div>

<div class="row">
    <p>
      <strong>Benefit:</strong>
      <%= @feature.benefit %>
    </p>
</div> 

<hr width="100%">


<div class="row">
    <div class="section, col 6">
        <h4>Provide Your Feedback</h4>
        <%= render 'priority_form', priority: @priority %>
    </div>
</div>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_feature_path(@feature) %> |
<% end%>
<%= link_to 'Back', features_path %>
